/*  COLOUR VARIABLE*/
/*  FONT STYLE VARIABLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem == 10px  10 /16*/ }
  @media (max-width: 75em) {
    html {
      /* 1rem == 9px : 9 /16 (1200px) */
      font-size: 56.2%; } }
  @media (max-width: 56.2em) {
    html {
      /* 1rem == 8px :8 /16  (900px)*/
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      /* 1rem == 12px : 12 /16 (1800+px) */
      font-size: 75%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
  min-height: 100vh;
  width: 90vw; }
  @media (max-width: 37.5em) {
    body {
      width: 100vw; } }

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.cheesecake {
  grid-column: 2 / span 7;
  padding: 3rem 0; }
  .cheesecake-text {
    width: 59.2rem;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: #4F4F4F; }
    @media (max-width: 37.5em) {
      .cheesecake-text {
        width: 45rem; } }
  .cheesecake-heading {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif; }
  .cheesecake-img {
    width: 100%; }
    @media (max-width: 37.5em) {
      .cheesecake-img {
        width: 85%; } }

.ingredient-section {
  margin-top: -10rem;
  grid-column: 2 / span 4;
  margin-bottom: 2rem; }
  @media (max-width: 37.5em) {
    .ingredient-section {
      grid-column: 2 / span 6;
      margin-top: 2rem; } }
  .ingredient-section_heading {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 1rem; }
  .ingredient-section_ingredient--1, .ingredient-section_ingredient--2 {
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem; }
  .ingredient-section_input {
    margin-bottom: 1rem; }
  .ingredient-section_label {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-weight: 400;
    margin-left: .5rem; }
    .ingredient-section_label span {
      font-style: italic; }

.measurement-section__mobile {
  grid-row: 2 / 3;
  grid-column: 2 / 8;
  margin-bottom: 2rem 0 2rem 0; }
  @media (max-width: 112.5em) {
    .measurement-section__mobile {
      visibility: hidden; } }
  @media (max-width: 37.5em) {
    .measurement-section__mobile {
      visibility: visible; } }
  .measurement-section__mobile--ul {
    list-style: none;
    display: flex;
    justify-content: space-between; }

.measurement {
  width: 21rem;
  height: 36rem;
  grid-column: 7 / span 2;
  margin: 0 auto;
  box-shadow: 1px 1px 8px 4px #c0c0c0;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10rem; }
  @media (max-width: 37.5em) {
    .measurement {
      display: none; } }
  .measurement-section {
    display: flex; }
    .measurement-section__list {
      display: flex; }
    .measurement-section__pt1 {
      margin-bottom: 2rem;
      display: flex; }
  @media (max-width: 37.5em) {
    .measurement-section {
      display: flex;
      flex-direction: row; } }
  .measurement-section:not(:last-child) {
    margin-bottom: 2rem; }
  .measurement__content {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif; }
    .measurement__content h6 {
      text-transform: uppercase;
      color: #4F4F4F; }
  .measurement__time {
    color: #000; }

.serving-timing__time {
  color: #F2994A;
  flex: 1; }

.instructions {
  grid-column: 2 / span 4; }
  @media (max-width: 37.5em) {
    .instructions {
      grid-column: 2/ span 6; } }
  .instructions__heading {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 1rem; }
  .instructions-box {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 400; }
  .instructions-box:not(:last-child) {
    margin-bottom: 2rem; }
  .instructions-number {
    margin-right: 2rem;
    padding: 2px;
    background-color: #F2994A;
    flex: 0 0 2rem;
    height: 2rem;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-family: "Playfair Display", sans-serif;
    font-size: 10px; }

.footer {
  grid-column: 2/span 6;
  font-size: 1.1rem;
  text-align: center;
  padding: 2rem;
  margin-top: 4rem; }

.footer_text {
  text-transform: uppercase;
  margin-top: auto; }
  @media only screen and (max-width: 37.5em) {
    .footer_text {
      padding: 0 3rem; } }

.footer_link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #F2994A; }

.serving-icon,
.measurement-section-icon {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  align-self: center;
  justify-self: center; }
  @media (max-width: 37.5em) {
    .serving-icon,
    .measurement-section-icon {
      align-self: center;
      justify-self: center; } }

.serving-icon {
  fill: #F2994A; }

.measurement-section-icon {
  fill: #4F4F4F; }

/*
break points
0-600px----------phone
600px -900px -----tab portrait
900px - 1200px -----tab landscape
1200px - 1800px ----- normal style
1800px + ------- big desktop.
*/
/*
$break point arguement choices
phone
tab-port
tab-land
big-desktop
*/
